<style>
/* 폰트 적용 안되는 중*/

  *, html {
    margin:0;
    padding:0;
  }
  body {
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-family: Godo;
  }
  h1 {
    font-size:60px;
    text-align: center;
    border-bottom:1px solid gray;
    margin:0;
    padding: 130px;
  }
  a {
    color:black;
    text-decoration:none;
  }
  #background_1 {
    background-image: url("sophia-baboolal-86214.png");
    background-size: 100%;
    background-position: center;
  }
  #background_2 {
    background-image: url("subtitle.jpg");
    background-size: 100%;
    background-position: center;
  }

  #list ol li {
    display: inline;
    text-align: center;
  }
  #list ol{
    background-color: rgba(255, 255, 255, 0.5);
    display: grid;
    padding-top: 8px;
    padding-bottom: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  #article{
    display: block;
    padding-left: 20px;
    grid-template-columns: 150px 1fr;
    background: #FFFFFF;
    font-family: ng;
  }
  @media(max-width:800px) {
    h1 {
      border-bottom: none;
    }
  }
  @font-face{
    font-family: Godo;
    src: url('GodoM.otf');
  }
  @font-face{
    font-family: ng;
    src: url('NanumGothic.otf');
  }
</style>
